.hero-section {
  background-image: url(/JalapenoBrothers/assets/heroback.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: min(90%, 1400px);
  aspect-ratio: 2.2 / 1;
  margin: 0 auto;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text, .image-box{
  width: 100%;
  gap: 15px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text p{
  max-width: 750px;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  line-height: 1.8;
}

.hero-content img{
  width: 80%;
}

main{
  background-image: url(/JalapenoBrothers/assets/MainBg.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: min(90%, 1400px);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 9% 9%;
  gap: 50px;
}

.content-area{
  display: flex;
  gap: 30px;
}

.reverse{
  flex-direction: row-reverse;
}

.text-area, .image-area{
  width: 50%;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.text-area h3, h5{
  text-shadow: 1px 1px 0 var(--fourth-color);
}

@media (max-width: 768px){
  .hero-section{
    width: 100%;
  }

  main{
    width: 100%;
    padding: 15% 8%;
  }

  .text-area h3{
    font-size: clamp(1.75rem, 2vw, 2.75rem);
  }

  .text-area h4{
    font-size: 1rem;
  }

}

@media (max-width: 425px){
   .hero-content{
    flex-direction: column;
    padding: 30px 20px;
    width: 100%;
    gap: 30px;
  }

  .hero-content img{
    width: 50%;
  }

  .hero-text, .image-box{
    width: 100%;
    text-align: center;
    gap: 15px;
  }

  main{
    gap: 25px;
    padding: 26% 20px;
    background-size: cover;
  }

  .content-area{
    flex-direction: column;
  }

  .text-area, .image-area{
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .image-area img{
    width: 80%;
  }

}